<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>376989721938-60akvei42rbuogjghrf9klf5o117lj6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376989721938-60akvei42rbuogjghrf9klf5o117lj6q</string>
	<key>API_KEY</key>
	<string>AIzaSyAv1ESfkw22afOXIbVQ79YBATeyQamphfE</string>
	<key>GCM_SENDER_ID</key>
	<string>376989721938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vanderlin.the-real-bojan-app</string>
	<key>PROJECT_ID</key>
	<string>bojan-7b61e</string>
	<key>STORAGE_BUCKET</key>
	<string>bojan-7b61e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376989721938:ios:844c8df82ddc31a0</string>
	<key>DATABASE_URL</key>
	<string>https://bojan-7b61e.firebaseio.com</string>
</dict>
</plist>